:root {
    --accent: rgba(51, 24, 240, 1);
    --background: rgba(6, 5, 17, 1);
    --buttons-primary: rgba(153, 142, 232, 1);
    --buttons-secondary: rgba(36, 19, 150, 1);
    --text: rgba(233, 231, 246, 1);
}
.header {
    height: 96px;
    width: 1920px;
}

.header .overlap-group {
    background-color: #0d0911;
    border: 1px solid;
    border-color: #b892d8;
    height: 98px;
    left: -1px;
    position: relative;
    top: -1px;
    width: 1922px;
}

.header .register {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1784px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    width: 101px;
}

.header .text-wrapper {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1316px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    width: 168px;
}

.header .div {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 1550px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 30px;
    width: 168px;
}

.header .text-wrapper-2 {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 36px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    top: 29px;
    width: 154px;
}