.body {
    background-color: #0d0911;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
}

.box {
    height: 733px;
    width: 1100px;
}

.box .group {
    height: 733px;
    left: 0;
    position: fixed;
    top: 0;
    width: 1104px;
}

.box .overlap {
    background-color: #531d8180;
    border: 1px solid;
    border-color: #531d81;
    border-radius: 31px;
    height: 733px;
    position: relative;
    width: 1100px;
}

.box .text-wrapper {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 459px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 67px;
    width: 180px;
}

.box .div {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 434px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 152px;
    width: 229px;
}

.box .assigned {
    height: 205px;
    left: 127px;
    position: absolute;
    top: 263px;
    width: 207px;
}

.box .overlap-group {
    height: 205px;
    position: relative;
}

.box .overlap-group-wrapper {
    height: 205px;
    left: 0;
    position: absolute;
    top: 0;
    width: 207px;
}

.box .div-wrapper {
    background-image: url(./Rectangle.svg);
    background-size: 100% 100%;
    height: 205px;
    position: relative;
    width: 205px;
}

.box .text-wrapper-2 {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 17px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 17px;
    width: 172px;
}

.box .text-wrapper-3 {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 69px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 103px;
    width: 67px;
}

.box .unresolved {
    height: 205px;
    left: 446px;
    position: absolute;
    top: 263px;
    width: 207px;
}

.box .overlap-group-2 {
    background-image: url(./Rectangle.svg);
    background-size: 100% 100%;
    height: 205px;
    position: relative;
    width: 205px;
}

.box .text-wrapper-4 {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 24px;
    font-weight: 400;
    left: 16px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 11px;
    width: 172px;
}

.box .resolved {
    height: 205px;
    left: 765px;
    position: absolute;
    top: 263px;
    width: 207px;
}

.box .overlap-2 {
    height: 205px;
    position: relative;
    width: 205px;
}

.box .group-wrapper {
    height: 205px;
    left: 0;
    position: absolute;
    top: 0;
    width: 205px;
}

.box .group-2 {
    height: 205px;
    width: 207px;
}

.box .overlap-group-3 {
    background-image: url(./Rectangle.svg);
    background-size: 100% 100%;
    height: 205px;
    position: relative;
    width: 205px;
}

.box .text-wrapper-5 {
    color: #ffffff;
    font-family: "Noto Sans KR-Regular", Helvetica;
    font-size: 40px;
    font-weight: 400;
    left: 67px;
    letter-spacing: 0;
    line-height: normal;
    position: absolute;
    text-align: center;
    top: 103px;
    width: 70px;
}
